---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      img {
        height: 200px;
        width: 200px;
      }
      .home-intro-text-container {
        text-align: center;
      }
      @media (min-width: 720px) {
        .home-intro-text-container {
          display: flex;
          align-items: center;
          justify-content: between;
          text-align: left;
        }
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="home-intro-text-container">
        <div class="home-intro-text-container-image">
          <img
            src="aashwath-memoji.png"
            alt="A memoji of Aashwath's smiling face"
          />
        </div>
        <h1>Hello! <br /> I am Aashwath!</h1>
      </div>
      <p>
        I am a web developer and designer who loves to read and write about a
        wide range of topics.
      </p>
      <p>Here are a few things about me:</p>
      <ul>
        <li>I simply love HTML, CSS and JavaScript. And filter coffee ☕️</li>
        <li>
          I've worked on frontend frameworks like <a
            href="https://angular.dev"
            target="_blank">Angular</a
          > and <a href="https://react.dev" target="_blank">React</a>. For
          backend development, I use NodeJS.
        </li>
        <li>
          I love reading sci-fi and fantasy. I have written a <a
            href="https://storymirror.com/profile/dcykfgoo/aashwath-acharya"
            target="_blank">few short stories</a
          >.
          <li>Heavy metal calms me down 😌</li>
        </li>
        <li>
          I'm passionate about design. If something's not right, I tend to fix
          it. 👨‍🔧
        </li>
        <li>
          I live in Mumbai with three cats 🐱 and I'm also a <a
            href="https://toastmasters.org"
            target="_blank">Toastmaster.</a
          >
        </li>
      </ul>
      <p>
        Do headover to the <a href="/blog">blog</a> section and see if you find anything
        interesting in what I've written.
      </p>
      <p>
        If you'd like to contact me, please send an email to <a
          href="mailto:aashwath@duck.com">aashwath@duck.com</a
        >.
      </p>
    </main>
    <Footer />
  </body>
</html>
